/.vscode
/20211127_backup_pohovory.sql
/20211127_backup_pohovory_1.sql
/20211128_backup_pohovory.sql
/20211128_test_pro_DB.xlsx
/20211217-schema.xml
/2021_Michal_Kopl-pohovory.csv
/2021_Michal_Kopl-pohovory.txt
/2021_Michal_Kopl-pohovory.xlsx
/index.php
/info.php
/new 1.txt
/sbiranimailu.php
/schema.xml
/tst.php
/zkouska.xlsx
/zkouska.xml